@import '{}/imports/ui/stylesheets/not-found.less';
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

body {
  font-size: 16px;
  margin: 1em;
  background-color: #232425;
  color: #fafafa;
}

a {
  color: #ffd56f;
}
