@import '{}/imports/ui/stylesheets/not-found.less';
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css?family=Lora:400,700|Merriweather:400,700,900&display=swap';

/* General styles */

body {
  font-size: 16px;
  margin: 1em;
  background-color: #232425;
  color: #fafafa;
  font-family: 'Lora', serif; // Native light font
}

a {
  color: #ffd56f;
}

uppercase {
  text-transform: uppercase;
}

.users {
  color: #ffd56f;
}

/* Form styles */

.form-title {
  text-decoration: underline;
  font-family: 'Merriweather', serif; // Native bold font
}

.eit-form {
  display: flex block;
  flex-wrap: wrap;
  background-color: #9b9fa2;
  color: #232425;
  padding: 0.2em 0.8em 0.8em 0.8em;
  margin: 2em 0.5em;
  width: 26%;
  border: 0.1em solid #3da2b8;
  border-radius: 5%;
}

.form-section {
  margin: 1em;
  width: 30%;
  justify-content: space-between;
}

.form-label {
  justify-content: flex-start;
  width: 100%;
  font-weight: bold;
}

.form-field {
  justify-content: flex-end;
}

.form-submit {
  justify-content: flex-end;
}

.btn {
  font-family: 'Merriweather', serif;
}

/* Table styles */

table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

table,
th,
td {
  border: 0.1em solid #fff;
}

.table-headers {
  font-family: 'Merriweather', serif; // Native bold font
  background-color: #f2f2f2;
  color: #262626;
}

th {
  padding: 0.3em 1em;
}

td {
  padding: 0.1em 1em;
}

.actions-field {
  text-decoration: underline;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .form-section {
    display: block;
    margin: 1em;
  }

  .actions {
    display: block;
    padding: 0.6em 0;
  }

  .eit-form {
    width: 62%;
  }

  .delete-ui {
    margin-bottom: 1em;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .actions {
    display: block;
    padding: 1em 0;
  }

  .eit-form {
    width: 90%;
  }

  .delete-ui {
    margin-bottom: 1em;
  }
}
