@import '{}/imports/ui/stylesheets/not-found.less';

body {
  background-color: #dfdde8;
}

.eit-data {
  width: 100%;
  display: flex;
}

.eit-item {
  justify-content: space-between;
  padding: 0 3em;
}
