<template name="eit">
  <h1>EIT management</h1>
  <form class="eit-add">
    <div>
      <label>First Name</label>
      <input placeholder=" enter First Name" 
            type="text" name="firstname" required >
    </div>
    <div>
      <label>Surname</label>
      <input placeholder=" enter Surname" 
            type="text" name="surname" required >
    </div>
    <div>
      <label>Country</label>
      <input placeholder=" enter Country" 
            type="text" name="country" required >
    </div>
    <div>
      <label>Age</label>
      <input placeholder=" enter Age" 
            type="number" name="age" required >
    </div>
    <input type="submit" name="submit" 
            value="Add new EIT">
  </form>

  {{#each eits}}
    <div class="eit-data {{#if checked}}checked{{/if}}">
      <input type="checkbox" checked={{checked}} class="toggle-checked">
      <span class="eit-item">{{firstname}}</span>
      <span class="eit-item">{{surname}}</span>
      <span class="eit-item">{{country}}</span>
      <span class="eit-item">{{age}}</span>
      <input class="delete" type="button" value="Delete">
    </div>
  {{/each}}
  <input type="button" class="bulk-delete" value="Delete Selected" >
</template>