<template name="eit">
  <h1 class="form-title">EIT management</h1>
  <form class="eit-add" id="eit-form">
    <div class="form-section">
      <label class="form-label">First Name</label>
      <input placeholder=" enter First Name"
            class="form-field"
            type="text" name="firstname" required >
    </div>
    <div class="form-section">
      <label class="form-label">Surname</label>
      <input placeholder=" enter Surname" 
            class="form-field"
            type="text" name="surname" required >
    </div>
    <div class="form-section">
      <label class="form-label">Country</label>
      <input placeholder=" enter Country" 
            class="form-field"
            type="text" name="country" required >
    </div>
    <div class="form-section">
      <label class="form-label">Age</label>
      <input placeholder=" enter Age" 
            class="form-field"
            type="number" name="age" required >
    </div>
    <button type="button submit" name="submit" 
            class="btn form-submit btn-info">Add new EIT</button>
  </form>

  <table>
    <tr>
      <th></th>
      <th><uppercase>First Name</uppercase></th>
      <th><uppercase>Surname</uppercase></th>
      <th><uppercase>Country</uppercase></th>
      <th><uppercase>Age</uppercase></th>
      <th></th>
    </tr>
  {{#each eits}}
    <tr class="eit-data {{#if checked}}checked{{/if}}">
      <td><input type="checkbox" checked={{checked}} class="toggle-checked"></td>
      <td><span class="eit-item">{{firstname}}</span></td>
      <td><span class="eit-item">{{surname}}</span></td>
      <td><span class="eit-item">{{country}}</span></td>
      <td><span class="eit-item">{{age}}</span></td>
      <td>
        <span class="mobile-actions">
          <button type="button" class="btn delete btn-danger">Delete</button>
          <a href="/edit/{{_id}}">
            <button type="button" class="btn edit-btn btn-primary">Edit</button>
          </a>
        </span>
      </td>
    </tr>
  {{/each}}
  </table>
  <button type="button" class="btn bulk-delete btn-warning">Delete Selected</button>
</template>