<template name="eit_edit">
  <h1>Edit EIT</h1>
  <form class="eit-update" method="POST">
    <div>
      <label>First Name</label>
      <input placeholder=" enter First Name" 
            type="text" name="firstname" required >
    </div>
    <div>
      <label>Surname</label>
      <input placeholder=" enter Surname" 
            type="text" name="surname" required >
    </div>
    <div>
      <label>Country</label>
      <input placeholder=" enter Country" 
            type="text" name="country" required >
    </div>
    <div>
      <label>Age</label>
      <input placeholder=" enter Age" 
            type="number" name="age" required >
    </div>
    <input type="submit" name="submit" 
            value="Save Changes">
  </form>
  
  <a href="/">Homepage</a>
</template>